.vh-100 {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-link-no-hover {
  width: 100%;
  height: 100%;
  text-align: left;
  color: #6c757d !important;
  &:hover {
    color: #6c757d !important;
  }
}
